        
    
        <footer>
            <h2>calabarfoodfest@gmail.com</h2>
            <h4>+234 803 xxx xxxx</h4>
        
            
            <ul class="footer-socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            </ul>

            <p>Calabar Food Fest <sup>&copy;</sup>2023 | Designed by <a href="#">Kohly Akpet</a></p>
        </footer>

        <script src="js/index.js"></script>
    </body>
</html>