<%- include('partials/header') %>
<%- include('partials/navbar') %>


<div class="about-section">
    <div>
        <h1>What is Calabar Food Festival?</h1>
    </div>  

    <div class="about-container">
        <div class="about">
            <div class="about-image">
                <!--<img src="img/img4.jpg" alt="">-->
                <h3>The begining...</h3>
            </div>

            <div class="about-content">
                <p>Phasellus sapien massa, commodo a elementum nec, tincidunt a tellus. In eu massa ornare, ultrices ex quis, faucibus dolor. Donec dignissim magna eu mauris fermentum efficitur. Duis sit amet tempus risus. Suspendisse ut lacus eu metus convallis dignissim volutpat sed enim. Maecenas vitae dui et lectus dictum tincidunt. Sed finibus enim hendrerit, efficitur ligula non, dapibus justo. Duis auctor convallis massa, ut feugiat est dignissim eu. Morbi ac erat quis ipsum rhoncus porttitor ut ac eros. Vestibulum vel est ac nisl ullamcorper eleifend. Donec porttitor elit nunc, vel cursus massa mollis ac. Donec magna eros, suscipit a euismod non, mattis in dui. Fusce vitae sem nec mi bibendum semper.</p>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>