<%- include('partials/header') %>
<%- include('partials/navbar') %>

<section class="contact-section">
    <h2>For any enquiries, or to say hello,<br> get in touch 👋</h2>

    <div class="contact-container">
        <div class="contact">
            <div class="contact-info">
                <h3>Contact Info:</h3>
                <p>Email: <a href="#">calabarfoodfest@gmail.com</a></p>
                <p>Phone: <a href="#">+234 80x xxx xxxx</a></p>
            </div>

            <div class="contact-form">
                <form action="/register" method="post">

                </form>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer') %>