<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Calabar Food Fest</title>
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="nav">
            <div class="container">
                <div class="subcontainer">
                    <nav class="navbar">
                        <a href="/" class="nav-branding">Calabar Food Fest.</a>
                
                        <ul class="nav-menu">
                            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                            <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                            <li class="nav-item"><a href="/register" class="nav-link">Register</a></li>
                            <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
                        </ul>
                                           
                        <div class="hamburger">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </div>
                    </nav>
                </div>
            </div>  
        </div>

        <section class="banner" id="home">
            <div class="container">
                <div class="subcontainer">
                    <p class="banner-title">Calabar Food Festival</p>
                    <p class="banner-text">orem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut rutrum lorem, sed ullamcorper arcu. Duis eu tortor sapien. Nullam blandit nunc id augue pulvinar, id accumsan odio porta. Duis velit leo, faucibus eu iaculis vel, euismod eget lectus. Mauris.</p>

                    <div class="gallery">
                        <div class="image">
                            <img src="img/img1.jpg" alt="">
                            <div class="caption">Here will have little caption</div>
                        </div>
                        <div class="image">
                            <img src="img/img2.webp" alt="">
                            <div class="caption">Here will have little caption</div>
                        </div>
                        <div class="image">
                            <img src="img/img3.webp" alt="">
                            <div class="caption">Here will have little caption</div>
                        </div>
                        <div class="image">
                            <img src="img/img7.jpg" alt="">
                            <div class="caption">Here will have little caption</div>
                        </div>
                        <div class="image">
                            <img src="img/img5.jpg" alt="">
                            <div class="caption">Here will have little caption</div>
                        </div>
                        <div class="image">
                            <img src="img/img6.jpg" alt="">
                            <div class="caption">Here will have little caption</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- html css response photo gallery with picture captions where the image source does not have uniform size -->

        <script src="js/index.js"></script>
    </body>
</html>