/* Footer */
footer {
    background-color: #0f0f0f;
    height: 534px;
    width: 100%;
    padding-top: 168px;
    color: #fcfcfc;
    text-align: center;
}

footer h4 {
    margin-top: 42px;
}

.footer-socials {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 111px 0 0 0;
    gap: 24px;
    font-size: 18px;
}

ul a {
    text-decoration: none;
    color: #fcfcfc;
}

footer p {
    margin: 42px;
    font-size: 12px;
    color: #696968;
}

footer p a {
    color: #696968;
}

footer p a:hover {
    color: #fcfcfc;
}

@media (max-width:1600px) {
    .container {
        width: 100%;
    }

}

@media (max-width:1024px) {
    footer h2 {
        font-size: 21px;
        font-weight: 450;
    }

    footer h4 {
        font-size: 24px;
        font-weight: 450;
        margin-top: 24px;
    }
    
    footer {
        background-color: #0f0f0f;
        height: 489px;
        width: 100vw;
        padding-top: 168px;
        color: #fcfcfc;
        text-align: center;
    }
    
    .footer-socials {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;
        padding: 111px 0 0 0;
        gap: 24px;
        font-size: 18px;
    }
}
