* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', serif;
}

body {
    position: relative;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 99px;
    font-weight: 300;
}

h2 {
    font-size: 63;
    font-weight: 390;
}

h3 {
    font-size: 36px;
    font-weight: 450;
}

/*///////////////////////////////////*/
/* ABOUT */
.about-section {
    margin: 90px auto;
    padding: 72px 0;
    width: 76%;
    display: block;
}

.about-container {
    width:100%;
    margin: 135px auto;
    padding: 10px 20px;
}

/*.about-container::before {
    content: "";
    position: absolute;
    width: 36%;
    height: 1px;
    display: block;
    background-color: #0f0f0f;
}*/

.about {
    display: flex;
    justify-content: space-between;
    align-items: normal;
    flex-wrap: wrap;
}

.about-image {
    flex: 1;
    margin-right: 90px;
    overflow: hidden;
    border-top: 1px solid #0f0f0f;
}

.about-image h3 {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.about-image:hover img {
    transform: scale(1.1);
}

.about-content {
    flex: 1;
}

/*/////////////////////////////*/
/* CONTACT */